
@import url('https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body{
    font-family: 'Open Sans', sans-serif;
}
.container-fluid{
    /* height: 100%; */
    margin-top:20px;
}

.main-content{
    /* background-color: darkslategray; */
    /* height: 100%; */
}

.sidebar-left{
    /* background-color: bisque; */
    /* height: 100%; */
}

.sidebar-right{
    /* background-color: cadetblue; */
    /* height: 100%; */
}


.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; 
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
}
    
@media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
}
    
@media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
}

.logo{
    font-size: 2em;
    font-family: 'Monsieur La Doulaise', cursive;
}

.bg-blue{
    /* background-color: #3097D1; */
    color: white;
}

.navbar{
    font-family: 'Open Sans', sans-serif;
}

.sidebar-right{
    font-size: 13px;
}